# Folder, file using by obsidian
.obsidian/*
.trash/*
__IGNORE_
03_FilesSource/Temp

# Personal Document source
03_FilesSource/Documents/*
03_FilesSource/OtherFiles/*
05_TemporaryFolder*

# tool files
gcm-diagnose.log
